*{
    margin: 0 auto;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}

#nav-bar .container {
    width: 85%;
    margin: 0 auto;
}

#nav-bar img {
    width: 130px;
}

#nav-bar ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav-bar ul li {
    list-style: none;
}
#nav-bar ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 150%;
}
#nav-bar .nav-btn button {
    background-color: #469165;
    cursor: pointer;
    font-weight: 700;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    transition: 0.5S;
}
#nav-bar .nav-btn button:hover {
    background-color: #E5E7EB;
    color: #000000;
}


