*{
    margin: 0 auto;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}

#nav-bar .container {
    width: 85%;
    margin: 0 auto;
}

#nav-bar img {
    width: 130px;
}

#nav-bar ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav-bar ul li {
    list-style: none;
}
#nav-bar ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 150%;
}
#nav-bar .nav-btn button {
    background-color: #469165;
    cursor: pointer;
    font-weight: 700;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    transition: 0.5S;
}
#nav-bar .nav-btn button:hover {
    background-color: #E5E7EB;
    color: #000000;
}




#hero{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

#hero-container {
    text-align: center;
    padding-top: 200px;
}

#hero-container .container {
    width: 85%;
    margin: 0 auto;
}

#hero-container h6 {
    background-color: #FFFFFF;
    width: 300px;
    font-size: 15px;
    color: #469165;
    display: inline;
    
    margin-bottom: 20px;
    border-radius: 80px;
    padding: 4px 8px;
    
}

#hero-container h6 i {
    color: #469165;
}

#hero-container h1 {
    margin-top: 10px;
    font-size: 75px;
    color: #FFFFFF;
    /* color: #30B868; */
}

/* #hero-container .structure-font h1{
    color: #FFFFFF;

} */

#hero-container p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
}


.hero-btn button {
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
}

#note .container {
    width: 85%;
    margin: 0 auto;
}

#notes {
    margin-bottom: 80px;
}


.note-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.note-heading p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.note-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.note-box {
    width: 320px;
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.note-box h2 {
    font-size: 24px;
    font-weight: 700;
}
.note-box p {
    color: #627382;
}
.box-img {
    background-color: #ff5a5a;
    width: 60px;
    height: 60px;
    list-style: 1.7;
    border-radius: 50%;
    display: inline-block;
}
.box-img img {
   padding-top: 15px;
    width: 26px;
    color: #FAFAFA;
}
.note-box p i {
    color: #efe7e7;
    width: 40px;
    padding-top: 20px;
}
.note-box *{
    margin-bottom: 15px;
}

#brain {
    margin-bottom: 80px;
    margin-top: 30px;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.brain-sol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.brain-img img {
    width: 600px;
    border-radius: 12px;
}
.brain-content h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 20px;
}
.brain-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}


#ready {
    margin-bottom: 80px;
}


#ready .container {
    width: 85%;
    margin: 0 auto;
}

#ready {
    background-color: #F7F6F2;
    padding: 80px;
    border-radius: 12px;
}
#ready .ready-content {
    text-align: center;
}
#ready .ready-content h2 {
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
#ready .ready-content p {
    color: #627382;
    line-height: 24px;
    margin-bottom: 15px;
}


#footer {
    background-color: #001931;
}

#footer .container {
    width: 85%;
    margin: 0 auto;
}

#footer-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
#footer-parent .footer-img img {
    width: 130px;
}
#footer-parent .footer-icon h3 {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer-parent .footer-icon i {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
#footer-parent .footer-icon i {

    color: black;
    font-size: 11px;
    padding-top: 6px;  
}

#copy-right {
    border-top: 1px solid #E5E7EB;
    text-align: center;
    padding-bottom: 15px;
    color: #FAFAFA;
    line-height: 24px;
    padding-top: 30px;
}





